@use "sass:color";

@mixin styles {
  --site-title-color: #9ac969;
  --sidebar-active-color: #{color.adjust(#9ac969, $lightness: 15%)};
  --heading-color: #b4f9f8;

  --fgColor-default: #1f2328;
  --fgColor-muted: #9198a1;
  --bgColor-default: #0d1117;
  --bgColor-muted: #151b23;
  --bgColor-neutral-muted: #757c8633;
  --borderColor-default: #3d444d;
  --borderColor-muted: #3d444db3;
  --borderColor-neutral-muted: #3d444db3;
}
