@mixin styles {
  --site-title-color: #9ac969;
  --heading-color: #1a365d;

  --fgColor-default: #1f2328;
  --fgColor-muted: #59636e;
  --bgColor-default: #ffffff;
  --bgColor-muted: #f6f8fa;
  --bgColor-neutral-muted: #818b981f;
  --borderColor-default: #d1d9e0;
  --borderColor-muted: #d1d9e0b3;
  --borderColor-neutral-muted: #d1d9e0b3;
}
