/** Added body to override prims.js default styles */
body pre[class*="language-"] {
  background-color: var(--bg-color-muted);
  margin: 1.5em 0;
  border-radius: 6px;
}

:not(pre) > code {
  padding: 0.1em 0.3em;
  white-space: break-spaces;
  color: var(--fg-color-muted);
  background-color: var(--bg-color-muted);
  border-radius: 6px;
}

kbd {
  display: inline-block;
  padding: 0.25rem;
  font-size: 11px;
  line-height: 10px;
  color: var(--fg-color-default);
  vertical-align: middle;
  background-color: var(--bg-color-muted);
  border: solid 1px var(--border-color-default);
  border-bottom-color: var(--border-color-default);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--border-color-default);
}
